/* styles.css */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif; /* Font used for website */
    background-color: #222; /* background color */
    color: #fff;
}


header {
    position: fixed; /* fixed header to follow user when they scroll*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* header color */
    padding: 15px;
    box-sizing: border-box;
    z-index: 1000;
    opacity: 0.5; /* Opacity to not clash with details behind header*/
    top: 0;
}

.top-image img { /* Main image*/
    width: 100%; 
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    box-sizing: border-box;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

section {
    padding: 50px 20px; /* Padding for each image*/
    box-sizing: border-box;
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
}

footer { /* footer displaying info */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.image-container { /* Michelin star container */
    justify-content: space-between;
    margin-top: 20px;
}

.image-box img {
    max-width: 48%; 
    box-sizing: border-box;
    max-height: 200px;
    max-width: 200px;
    margin-right: 20px;
}

.welcome-box { /* welcoming text*/
    text-align: center;
    margin-top: 50px;
}

.welcome-box img { /* image below welcomign text */
    width: 100%;
    height: auto;
}
    
.text-box {
    background-color: #646464; 
    color: #adadad; 
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-shadow: 2px 2px 3px #222;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.reviews-container { /* customer reviews */
    position: relative;
     margin-top: 20px;
}
    
.reviews-container .text-box { /* text box for customer reviews */
    background-color: #646464; 
    color: #242424; 
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
     margin: 0 auto;
}
    
.reviews-container h2 { /* properties of <h2> */
    font-size: 2em; 
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px; 
    text-decoration: underline;
}

.reviews-container p { /* properties of <p> */
    color: #ffd700;
    font-family: 'Times New Roman', Times, serif;
}

.image-center {
    text-align: center;
    margin-top: 20px;
}
    
.image-center img {
    width: 800px;
    height: 400px;
     border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.reservation { /* reservation section */
    text-align: center;
    margin-top: 20px;
}

.reservation-button { /* The fake reservation button */
    padding: 25px 45px;
    font-size: 2em; 
    font-weight: bold;
    background-color: #ffd700; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-button:hover { /* Displays a darker shade of yellow when hovering over reservation button */
    background-color: #e6b800; 
}
